.flexas {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flexas .card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 30%;
}

.flexas .card-body {
}
@media (max-width: 768px) {
  .flexas .card {
    width: 48%;
  }
}
@media (max-width: 450px) {
  .flexas .card {
    width: 100%;
  }
}
