.vc_btn3 {
  display: flex;
  align-items: center;
  width: max-content;
  justify-content: center;
  text-align: center;
  margin: auto;
}
@media (max-width: 992px) {
  .me-2jh,
  .page-top ul.breadcrumb > li:last-child,
  .page-top ul.breadcrumb > li a,
  .page-top ul.breadcrumb > li:last-child {
    color: white !important;
  }
}
@media (max-width: 768px) {
  .tofle {
    display: flex !important;
    flex-direction: column !important;
  }
  .tofle .wp-caption {
    margin: 0;
  }
}
